$primary-color: #ca272fd8;
$primary-solid: #ca272f; // solid primary red (used for text/links/headings)
$secondary-color: #222;
$background-dark: black;
$text-light: white;
$text-dark: black;
$star-filled: #FFD700;
$star-empty: #555;
