@import '../../styles/_variables.scss';

.footer {
    display: flex;
    align-items: center;
    vertical-align: center;
    gap: 8px;
    font-size: 0.8rem;
    width: 100%;
    height: auto;
    background-color: $primary-color;
    padding-right: 12px; /* add spacing from the right edge */
    padding-left: 12px; /* add spacing from the left edge to match the right */

    .button-up {
      position: fixed;
        bottom: 30px;
        right: 30px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        background-image: url('../../../../../public/arrow-up.png');
        background-size: cover;
        z-index: 100;
      }


    p {
      margin: 0;
    }

    .codeLink {
      text-decoration: none;
      padding: 0 0.5rem;
      background: rgb(60, 60, 60);
      border-radius: 4px;
    }

    .accessibility-link {
      margin-left: auto; /* push link to the right */
      color: $text-light; /* white link color */
      text-decoration: underline;
      font-weight: 600;

      &:focus {
        outline: 3px solid rgba(255,255,255,0.25);
        outline-offset: 2px;
      }
    }
  }
